// is this it

$iti-orange: #EAAF4A;
$iti-blue: #5FBED0;
$iti-dark-teal: #285F5E;
$iti-teal: #3793A2;
$iti-light-teal: #6AB8AE;
$iti-dark-orange: #CC6548;
$iti-tan: #F7E1B7;

// room on fire

$rof-red: #C7553B;
$rof-black: #161A18;
$rof-brown: #745144;
$rof-yellow: #E7B851;
$rof-dark-brown: #4E4137;
$rof-dark-gray: #585E57;
$rof-light-blue: #5DA1C1;
$rof-dark-blue: #264463;
$rof-blue: #2F7AA6;

// first impressions of earth

$fioe-light-gray: #CFD2D3;
$fioe-black: #040404;
$fioe-light-orange: #E3523D;
$fioe-gray: #5D6265;

// angles

$ang-blue: #1F72AF;
$ang-pink: #D6B5BC;
$ang-yellow: #FBC914;
$ang-dark-pink: #BE4179;
$ang-black: #0A0909;
$ang-powder-blue: #7093C0;
$ang-dirt: #80746D;
$ang-teal: #04ACD8;

// comedown machine

$com-red: #D02B1F;
$com-tan: #D0B094;
$com-brown: #4F241E;
$com-orange: #CF6B56;
$com-sandstone: #8B4134;
$com-clay: #BF7A6D;

// the new abnormal

$tna-cream: #DAD4BE;
$tna-black: #222C2D;
$tna-blue: #32A0C7;
$tna-teal: #4DA099;
$tna-brown: #8D5F4D;
$tna-yellow: #F2B11E;
$tna-dark-blue: #287C92;
$tna-light-blue: #9FCCC9;
$tna-red: #CF3926;